@charset "UTF-8";
body {
background-color: #FFFFF0;
font-family: Arial, Verdana, sans-serif;
font-size: 18px;
}

a:link {
font-family: Arial, Verdana, sans-serif;
font-size: 18px;
color: #483D8B;
text-decoration: underline;
}

a:hover {
font-family: Arial, Verdana, sans-serif;
font-size: 18px;
color: #A52A2A;
text-decoration: underline;
}

h1 {
font-family: Arial, Verdana, sans-serif;
font-size: 18px;
color: #8B0000;
}

h2 {
font-family: Arial, Verdana, sans-serif;
font-size: 18px;
color: #8B0000;
}

h3 {
font-family: Arial, Verdana, sans-serif;
font-size: 18px;
color: #8B0000;
}

hr {
color: #FAEBD7;
background-color: #0000ff;
width: 90%;
height: 2px;
}